.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.logo{
    padding-left: 10px;
    width: 100px;
}

.nav-items > ul > li{
    padding: 10px;
}

.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.card {
    width: 200px;
    height: 23rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
}

.card-content {
    padding: 16px;
}

.card-title {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.card-rating-cost-for-two {
    margin: 4px 0;
    font-size: 16px;
    color: #080707;
    display: flex;
    justify-content: space-between;
}

.star-rating {
    width: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-subtitle {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.shimmer {
    width: 200px;
    height: 23rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}